In [ ]:
print("hello mm")

hello world

In [11]:
# Day 3
#creating s simple list
l=[10,20.3,"Ntt",3+4j]
print (l)
print(type(l))
print (l[-2])

[10, 20.3, 'Ntt', (3+4j)]
<class 'list'>
Ntt

In [16]:
l={10:"Arjith",20:"Muni",30:"Rovbert"}
print (type(l))

<class 'dict'>

In [18]:
l={100:"Arjith",20:"Muni",333:"Robert"}
print (l[333])

Robert

In [33]:
s = {12,13,14,14,"Hello","Hello"}

print(s[0])

TypeError: 'set' object is not subscriptable

In [34]:
s = {12, 13, 14, 14, "Hello", "Hello"}

for element in s:
    print(element)

12
13
14
Hello

In [41]:
s = {12, 13, 14, "Hello", "hello"}

s_list = list(s)
print(s_list[4])  # Access the first element of the list

14

In [10]:
#isinstance
a=10
print (isinstance(a,int))

True

In [ ]:
#variable annotations
name: str = "NTT"
print(name)
print(__annotations__['name'])

NTT
<class 'str'>

In [ ]:
name: str = "NTT"
print(name)
print(type(name))
print(__annotations__['name'])

In [1]:
name: int = 10
print(name)
print(__annotations__['name'])

10
<class 'int'>

In [ ]:
aaa=10
print(aaa)
print(type(aaa))

print(__annotations__['aaa'])

10
<class 'int'>

NameError: name '__annotations__' is not defined

In [ ]:
# variable annotation

aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
#tuple - unable to chnage the content at run time t = (1,2,3..) , but list we can change it L = [1,2,3,4,...]

In [ ]:
#dictionary  d = {a:1, b:2, c:3} - a, b, c are index and 1 2 3 are value

In [ ]:
print(18//4)

4

In [ ]:
print(18%4)

2

In [ ]:
print((18.0//4))

4.0

In [ ]:
print("""  working on multiline
  sample """)

  working on multiline
  sample

In [ ]:
#1-1 = 0 , 2-1 = 1, 3-1 = 2 (last param)
Name = "Hello world"
print(Name[0])
print(Name[-8])

print(Name[0:6:3])

H
l
Hl

In [ ]:
#slicing (its like substring)
Name = "Bangalore"


print(Name[ :5:1])
print(Name[2: :1])
print(Name[0:6: ])
print(Name[ : : ])
print(Name[2:7:1])

# s[Start:Stop:Step]
# if not given for start it will consider as 0, 2 paramater will take as entire , if 3rd is emty it will take 0

Banga
ngalore
Bangal
Bangalore
ngalo