<a href="https://colab.research.google.com/github/RobertsonGit0Hub/Python/blob/main/Basic_Python%20-%20Day%207-Muni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ***********Machine Learning journey through Python- Phase-1***********
# *****Day 3  Practice - 04/11/2025 First Practical *****

In [ ]:
print("hello Muni")

hello Muni

In [ ]:
# Day 3
#creating s simple list
l=[10,20.3,"Ntt",3+4j]
print (l)
print(type(l))
print (l[-2])

[10, 20.3, 'Ntt', (3+4j)]
<class 'list'>
Ntt

In [ ]:
l={10:"Arjith",20:"Muni",30:"Rovbert"}
print (type(l))

<class 'dict'>

In [ ]:
l={100:"Arjith",20:"Muni",333:"Robert"}
print (l[333])

Robert

In [ ]:
s = {12,13,14,14,"Hello","Hello"}

#print(s[2])

In [ ]:
s = {12, 13, 14, 14, "Hello", "Hello"}

for element in s:
    print(element)

12
13
14
Hello

In [ ]:
s = {12, 13, 14, "Hello", "hello"}

s_list = list(s)
print(s_list[4])  # Access the first element of the list

14

In [ ]:
#isinstance
a=10
print (isinstance(a,int))

True

In [ ]:
#variable annotations
name: str = "NTT"
print(name)
print(__annotations__['name'])

NTT
<class 'str'>

In [ ]:
name: str = "NTT"  # need to ask doubt from siva

print(name)

print(type(name))
name = 10
print(name)
print(type(name))

print(__annotations__['name'])

NTT
<class 'str'>
10
<class 'int'>
<class 'str'>

In [ ]:
name: int = 10
print(name)
print(__annotations__['name'])

10
<class 'int'>

In [ ]:
aaa=10
print(aaa)
print(type(aaa))

#print(__annotations__['aaa'])

10
<class 'int'>

In [ ]:
# variable annotation

aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
#tuple - unable to chnage the content at run time t = (1,2,3..) , but list we can change it L = [1,2,3,4,...]

In [ ]:
#dictionary  d = {a:1, b:2, c:3} - a, b, c are index and 1 2 3 are value

In [ ]:
print(18//4)

4

In [ ]:
print(18%4)

2

In [ ]:
print((18.0//4))

4.0

In [ ]:
print("""  working on multiline
  sample """)

  working on multiline
  sample

In [ ]:
#1-1 = 0 , 2-1 = 1, 3-1 = 2 (last param)
Name = "Hello world"
print(Name[0])
print(Name[-8])

print(Name[0:6:3])

H
l
Hl

### ***********Machine Learning journey through Python- Phase-1***********
# *****Day 4  Practice - 04/15/2025*****

In [ ]:
#slicing (its like substring) Day 4 Class -- 04/15/2025

Name = "Bangalore"

print(Name[ :5:1])
print(Name[2: :1])
print(Name[0:6: ])
print(Name[ : : ])
print(Name[2:7:1])
print(Name[::3])

# s[Start:Stop:Step]
# if not given for start it will consider as 0, 2 paramater will take as entire , if 3rd is emty it will take 1

Banga
ngalore
Bangal
Bangalore
ngalo
Bgo

In [ ]:
#Negative Slicing

Name = "Bangalore"
print(Name[-1:-6:-1])
print(Name[-2::-1])
print(Name[::-1]) # To reverse the string
print(Name[-8:-1:-1])
print(Name[3:0:-1])
print(Name[7:1:2])  # result would be blank first would be small and second would be bigger
print(Name[-9:-4:2])
print(Name[-9:7:1])
print(Name[1:4:]) # default step size is positive 1
print(Name[::])

erola
rolagnaB
erolagnaB

gna

Bna
Bangalo
ang
Bangalore

In [ ]:
Name = "Code yug"
print(Name[-1:-4:-1])
print(Name[-1:-5:-1])
print(Name[-2:-6:2])
print(Name[-1::-1])
print(Name[-3:-11])
print(Name[-1:-1:-1])

guy
guy

guy edoC

In [ ]:
String = "Hello, world!"
print(String[:5])
print(String[-6:-1])
print(String[-3:])
print(String[-5:2:-2])

Hello
world
ld!
o o

In [ ]:
String = "Python is fun!"
#print(String[::1][::-1])
#print(String[::2])
print(String[::-1][::-1])

Python is fun!

In [ ]:
String = "Python is fun"

print(String[0:5][::-1])
print(String[0:5][::-1][::-1])
#print(String[::-1])

ohtyP
Pytho

In [ ]:
string = "Programming"
print (string[3:len(string)-5])

gra

In [ ]:
#Decision making statements
#Simple If statement

if 10>5:
  print("Start of if") #intentation space (before print)
  print("10 is greater")
  print("End of if")

print("End of program")

Start of if
10 is greater
End of if
End of program

In [ ]:
#if else


if 10>15:
  print("Start of if") #intentation space (before print)
  print("10 is greater")
  print("End of if")
else:
  print("End of program")

End of program

In [ ]:
# input function
a = input("Enter a value") # input function returns all the values in string format
print(a)
print(type(a))

Enter a value10
10
<class 'str'>

In [ ]:
# input function - type cast
a = int(input("Enter a value")) # input function returns all the values in string format
print(a)
print(type(a))

Enter a value10
10
<class 'int'>

In [ ]:
# input function - type cast
a = float(input("Enter a value")) # input function returns all the values in string format
print(a)
print(type(a))

Enter a value10.34
10.34
<class 'float'>

In [ ]:
# input function
a = int(input("Enter a value")) # input function returns all the values in string format
print(a)
print(type(a))

Enter a value10
10
<class 'int'>

In [ ]:
#if else statement
a = int(input("Enter a value"))
b = int(input("Enter b value"))

if(a>b):
  print("a is greater")
  print("if block")
else:
   print("b is greater")
   print("else block")

Enter a value10
Enter b value20
b is greater
else block

In [ ]:
# if else ladder
s = input("enter a color")

if s=="red":
  print("stop")
elif s=="yellow":
  print("ready")
elif s=="green":
  print("go")
else:
  print("invalid")

enter a colorred
stop

In [ ]:
#palindrome function
a=input("enter a string:")
b=a[::-1]
if a==b:
  print("palindrome")
else:
  print("not palindrome")

enter a string:malayalam
palindrome

In [ ]:
s=input("Enter a String:");
rev=s[len(s)::-1];
print(rev)

if(s==rev):
    print("Palindrome");
else:
    print("Not a palindrome");

Enter a String:malayalam
malayalam
Palindrome

In [ ]:
#program to check the polindrome
text = input("enter a string")
text = text.lower()

revtext = text[::-1]

if text == revtext:
  print("palindrome")
else:
  print("not palindrome")

enter a stringmalayalam
palindrome

In [ ]:
#while loop

i =10

while i<15 :
  print(i)
  i = i+1
print("end of while")

10
11
12
13
14
end of while

In [ ]:
#multiplication table

num = int(input("Enter a number : "))
i = 1
while i<=10:
    print(i*num)
    i = i+1

Enter a number : 10
10
20
30
40
50
60
70
80
90
100

In [ ]:
#multiplication table

i=int(input("Enter a Number:"))
a=1
while a<=10 :
  b=i*a
  print(i,"x",a,"=",b)
  a=a+1

Enter a Number:8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
#multiplication table

num = int(input("Enter a number : "))
i = 1
while i<=10:
    print(num, "*" , i , "=", i*num)
    i = i+1

Enter a number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# for loop

s="john"

for i in s:
  print(i)

j
o
h
n

In [ ]:
for i in [10,20,30,40]:
  print(i)

10
20
30
40

In [ ]:
for i in (10,20,30,40):
  print(i)

10
20
30
40

In [ ]:
for i in (10,20,30,40):
  print(i*30)

300
600
900
1200

In [ ]:
for i in (10,20,30,40):
  print(i)
  print(type(i))

10
<class 'int'>
20
<class 'int'>
30
<class 'int'>
40
<class 'int'>

In [ ]:
for i in "2025john":
  print(i)
  print(type(i))

2
<class 'str'>
0
<class 'str'>
2
<class 'str'>
5
<class 'str'>
j
<class 'str'>
o
<class 'str'>
h
<class 'str'>
n
<class 'str'>

In [ ]:
for i in [10,"john",20.3]:
  print(i)
  print(type(i))

10
<class 'int'>
john
<class 'str'>
20.3
<class 'float'>

### ***********Machine Learning journey through Python- Phase-1***********
# *****Day 5  Practice - 04/16/2025*****

In [ ]:
#Day 5 **04/16/2025***

#range(start, stop,step)
#range function

i=20
j=30

for i in range(i,j,2):
  print(i)

20
22
24
26
28

In [ ]:
#range function
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [ ]:
#string concodination
str1 = "Python is"
str2 = "awsome"
str3 = str1+str2
print(str3)

#string multiplication
str4 = str2*4
print(str4)

Python isawsome
awsomeawsomeawsomeawsome

In [ ]:
#Both string and tuple are immutable (unable to change )

s1 = "NTT"
s2 = "DATA"
s3 = s1+s2
print(s3)
s4 = s2*4
print(s4)

#s2[0]="d" #getting error since unable to change it

NTTDATA
DATADATADATADATA

In [ ]:
l = [10,20.3,"NTT",3+4j]  # need to ask doubt from siva
print(l)
print(type(l))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [ ]:
# String Deletion
s1 = "NTT"
print (s1)

#s1=""

#del s1
#print(s1) # getting error since its deleted

NTT

In [ ]:
#length of the string

str1=input("Enter the string:")
counter = 0
for char in str1:
  counter+=1
  print('Length of string:',counter)

Enter the string:robert
Length of string: 1
Length of string: 2
Length of string: 3
Length of string: 4
Length of string: 5
Length of string: 6

In [ ]:
#Length of the string
s=input("Enter a string")
c=0
for i in s:
  c=c+1
print("Length = ",c)

Enter a stringbangalore
Length =  9

In [ ]:
#Length of the string
s=input("Enter a string")
c=0
for i in s:   # in -> is the membership operator
  c=c+1
print("Length = ",c)

#use len function
print(len(s))

Enter a stringrobert
Length =  6
6

In [ ]:
#membership operator

if "a" in "apple":
  print("yes")
else:
  print("no")

yes

In [ ]:
#methods
#string.count(substring,start,end)

#count method
main_string = input("Enter a string ")
sub_string = input("Enter a sub string ")

c = main_string.count(sub_string)
print(c)

Enter a string welcome come come
Enter a sub string come
3

In [ ]:
#finding the substring within the range
main_string = input("Enter a string ")
sub_string = input("Enter a sub string ")

c = main_string.count(sub_string,0,3)
print(c)

Enter a string welcome come come
Enter a sub string e
1

In [ ]:
#startswith()

#string.startswith(prefix,start,end)

mobno = input("Enter you mob no with country code ")

if mobno.startswith("+91"):
  print("India")
elif mobno.startswith("+1"):
  print("USA")

Enter you mob no with country code +919944278748
India

In [ ]:
#endswith

url = input("Enter a URL: ")
if url.endswith('.edu'):
  print("Educational website")
elif url.endswith('.com'):
  print("Commercial website")

Enter a URL: www.ntt.edu
Educational website

In [ ]:
#Removing leading and trailing characters

#1)lstrip()
#2)rstrip()
#3)strip()

#string.lstrip(characters)

#lstrip method - remove the unnecessary space

name = input("Enter your name : ")
print(name)
name = name.lstrip()
print(name)

Enter your name :           arjith
          arjith
arjith

In [ ]:
# lstrip() - remove the substring

url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  i = i.lstrip("http://www.")
  print(i)

myntra.com
ajio.com
cricbuzz.com

In [ ]:
# lstrip() - remove the substring

url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  i = i.lstrip("htp:/w.") # character wise match, so it removed
  print(i)

myntra.com
ajio.com
cricbuzz.com

In [ ]:
# lstrip() - remove the substring

url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  #i = i.lstrip("htp:/w.") # character wise match, so it removed
  #i = i.lstrip("htp")
  #i = i.lstrip("hp") # only first h only removed
  i = i.lstrip("htp/") #only http is removed (once there is mismatch iteration will stop)
  #i = i.lstrip("tph")
  print(i)

://www.myntra.com
://www.ajio.com
://www.cricbuzz.com

In [ ]:

url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com","http://www.amazon.com"]

for i in url:
  #i=i.rstrip('htp.com') # from right side each character will check till mismatch character
  i=i.rstrip('htp.cmo') # same output
  #i=i.rstrip('.com') # same output
  print(i)

http://www.myntra
http://www.aji
http://www.cricbuzz
http://www.amazon

In [ ]:
#strip() function

url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com","http://www.amazon.com"]

for i in url:
  i=i.strip('htp.coma') # from both side each character will check till mismatch character
  print(i)

://www.myntr
://www.aji
://www.cricbuzz
://www.amazon

In [ ]:
# Comparision operator (==,!=,>,<,>=,<=)

#Ascii values
print(ord('a'))
print(ord('A'))
print(ord('c'))
print(ord('D'))

97
65
99
68

In [ ]:
s1="AAnand"
s2 = "ABhijith"

if(s1>s2):
  print("s1 is greater")
else:
  print("s2 is grater")

s2 is grater

In [ ]:
s1="AAnand"
s2 = "ABhijith"

if(s1!=s2):
  print("s1 is greater")
else:
  print("s2 is grater")

s1 is greater

In [ ]:
#replace() method

#string.replace(old_value,new_value,count) # count - how many times - its optional

s1 = "I live in mumbai, Mumbai is a beautiful place"

s1.replace("Mumbai","Bangalore")

'I live in mumbai, Bangalore is a beautiful place'

In [ ]:
#replace() method

#string.replace(old_value,new_value,count) # count - how many times - its optional

s1 = "I live in Mumbai, Mumbai is a beautiful place"

s1.replace("Mumbai","Bangalore",1) #replace only one occurance since its 1

'I live in Bangalore, Mumbai is a beautiful place'

In [ ]:
#find() method

#string.find(substring,start,end)

s1 = "I live in Mumbai, Mumbai is a beautiful place"

res = s1.find("Mumbai")
print(res)

10

In [ ]:
#how many times "Mumbai" having

s1 = """I live in Mumbai, Mumbai is a beautiful place
        I live in Mumbai, Mumbai is a beautiful place
        I live in Mumbai, Mumbai is a beautiful place """

s1.count('Mumbai')

6

In [ ]:
#rfind() method - finding the occurance from the last

s1 = "I live in Mumbai , Mumbai is a beautiful place"

res = s1.rfind("Mumbai")
print(res)

19

In [ ]:
#split()  method -

#string.split(separator,maxsplit)

s = " I live in mumbai "
k=s.split() # return in list based on space
print(k)

print (k[3])

['I', 'live', 'in', 'mumbai']
mumbai

In [ ]:

w="india,usa,australia"
k=w.split(',') # return in list based on comma (,)
#k=w.split('i') # return in list based on comma (i)
print(k)

['india', 'usa', 'australia']

In [ ]:
a ="i live in Mumbai, Mumbai is a place"
b=a.count("Mumbai")
print(b)

2

### ***********Machine Learning journey through Python- Phase-1***********
# *****Day 6  Practice - 04/21/2025*****

In [ ]:
#String

#list

l1 = [10,20,3.14,"NTT Data",2+3j,[100,200,300]]

print (l1)
print (type(l1))

print (l1[0],l1[-2])

[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
<class 'list'>
10 (2+3j)

In [ ]:
# Slicing in list

l1 = [10,20,3.14,"NTT Data",2+3j,[100,200,300]]

print(l1[0:4:])
print(l1[0:5:3])
print(l1[::])
print(l1[::-1])

[10, 20, 3.14, 'NTT Data']
[10, 'NTT Data']
[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
[[100, 200, 300], (2+3j), 'NTT Data', 3.14, 20, 10]

In [ ]:
#concatenation of list

l1=[10,20,34]
l2=[50,60,70]

l3 = l1+l2

print(l1)
print(l2)
print (l3)

print(id(l1))
print(id(l2))
print(id(l3))

[10, 20, 34]
[50, 60, 70]
[10, 20, 34, 50, 60, 70]
134974321743808
134974321749120
134974321753856

In [ ]:
#Multiplication of list

l1 = [10,20,30]
l2 = l1*3
print(l2)
print(l1*3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
#iteration of list

l1=[10,20,30,40,50]

for i in l1:
  print(i)

10
20
30
40
50

In [ ]:
l1=[10,20,30,40,50]

for i in l1:
  print(i+5)

15
25
35
45
55

In [ ]:
#l1=[10,20,30,40,50]

for i in [10,20,30,40,50]:
  print(i+5)

15
25
35
45
55

In [ ]:
#Membership operator - Returns boolien operator

print(10 in [10,20,30,40])
print(100 in [10,20,30,40])

True
False

In [ ]:
print(100 not in [10,20,30,40])
print(100 not in [100,20,30,40])

True
False

In [ ]:
#Deletion of a list
l1 = [10,20,30,40]

print(l1)

del l1

#print(l1)

[10, 20, 30, 40]

In [ ]:
# inbuilt functions

#max()

l1 = [10,200,3,500,80]
print(max(l1))

l2 = ["aaa","bbbb","ccc"]
print(max(l2))

l3 = [10,20,"nttdata"]  # when we have mix elements max will not work
#print(max(l3))

500
ccc

In [ ]:
#max(iterable,key,default)

l4 = ["aaa","bbbb","ccccccc"]
print(max(l4,key=len))  # based on the len it will return , key - what basis need to work

l5 = []
#print(max(l5)) # it will get error since there is no elements in the list

l5 = []
print(max(l5,default=10)) # to avoid error

ccccccc
10

In [ ]:
#list append()

l1 = [10,20,30,40]

l1.append(50) # to append the element
l1.append(60)
l1.append(70)
l1.append(5)
l1.append([1,2,3])
l1.append("NTT")
print(l1)

[10, 20, 30, 40, 50, 60, 70, 5, [1, 2, 3], 'NTT']

In [ ]:
# task - need to add 6 elements using for loop in the existing list [10,20]

list = [10, 20]
for i in range(6):
  num = int(input("Enter a number : "))
  list.append(num)
print(list)

Enter a number : 5
Enter a number : 10
Enter a number : 34
Enter a number : 56
Enter a number : 7
Enter a number : 8
[10, 20, 5, 10, 34, 56, 7, 8]

In [ ]:
l1 = [10, 20]

print(l1)

appendNumber = int(input('How many number you want append to the list: '))

for i in range(appendNumber):
  l1.append(i*10)

print(l1)

In [ ]:
l1 = [1,2,3,4]

count = 1
while count <= 6:
  element = input("Enter element")
  l1.append(element)
  count +=1

print(l1)

In [ ]:
l1=[10,20]

for i in range(6):
    i=int(input("Enter the element"))
    l1.append(i)
print(l1)

In [ ]:
list = []
for i in range(6):
  num = int(input("Enter a number : "))
  list.append(num)
print(list)

Enter a number : 10
Enter a number : 20
Enter a number : 30
Enter a number : 40
Enter a number : 50
Enter a number : 60
[10, 20, 30, 40, 50, 60]

In [ ]:
l1 = [10,20,30]
count = input('How many variables you want to list : ')
for i in range(int(count)):
    l1.append(int(input("enter the variable : ")))

print(l1)

In [ ]:
li =[10, 20]

counter = 0

limit = 5
while counter < limit:
  print("Loop finished!")
  a = int(input("enter a number: "))
  li.append(a)
  print(li)
  counter += 1

In [ ]:
#extend() method

#list1.extend(iterable)

l1 = [10,20,30]
l2 = [40,50,60,70]
l3 = [45,67,89]

l1.extend(l2+l3)
#l1.extend(l3)

print(l1)

[10, 20, 30, 40, 50, 60, 70, 45, 67, 89]

In [ ]:
l1 = [10,20,30]
l2 = [40,50,60]

l1.extend([100,200,300,400])

print(l1)

[10, 20, 30, 100, 200, 300, 400]

In [ ]:
#insert() method

#list.insert(index,element)

l1 = [10,20,30,40,50,60]

l1.insert(0,1000)
l1.insert(3,2000)

print(l1)

[1000, 10, 20, 2000, 30, 40, 50, 60]

In [ ]:
# deletion methods - remove() , pop(), clear(), Del()

#remove(element) - Removes the first occurrence of a specified element from the list

l1=[10,10,20,30,40]
l1.remove(10) # remove is working on value
print(l1)

[10, 20, 30, 40]

In [ ]:
#pop - pop the element at the end of the element or removes and returs the element at the specified index

l1 = [10,20,30,40]
res = l1.pop() # pop is working on index
print(res)
print(l1)

res = l1.pop(2)
print(res)
print(l1)

40
[10, 20, 30]
30
[10, 20]

In [ ]:
s2 = [10,20,30,40,50]
removed_element = s2.pop()
s2.pop(2)
print (removed_element)
print (s2)

50
[10, 20, 40]

In [ ]:
#clear() - removes all the elements from the list

l1 = [10,20,30,40]
print(l1)
l1.clear()
print(l1)

[10, 20, 30, 40]
[]

In [ ]:
#del() - delete the elements (index, slice or entire list variable)

#pop works single element only
l1 = [10,20,30,40]
del l1[0:2]
print(l1)

[30, 40]

In [ ]:
li =  [10,20,10,20,30,40] #arjith
li2 = set(li)
print(li2)

{40, 10, 20, 30}

In [ ]:
lst = [10,20,30,40,50,10,10,20,30]
unique =[]
for num in lst:
    if num  not in unique:
        unique.append(num)

print(unique)

[10, 20, 30, 40, 50]

In [ ]:
s=[10,20,10,30,20,45]
lst1=[]
for element in s:
        if element not in lst1:
            lst1.append(element)
print(lst1)

[10, 20, 30, 45]

In [ ]:
# program to remove duplicate elements

l1 = [10,20,30,10,20,45]

ulist = [] #unique list

for i in l1:
  if i not in ulist:
    ulist.append(i)
print(l1)
print(ulist)

[10, 20, 30, 10, 20, 45]
[10, 20, 30, 45]

In [ ]:
name: str = 1000

print(name)

print(type(name))
#name = 10
#name: int = 10
print(name)
print(type(name))

print(__annotations__['name'])

1000
<class 'int'>
1000
<class 'int'>
<class 'str'>

### ***********Machine Learning journey through Python- Phase-1***********
# *****Day 7  Practice - 04/23/2025*****

In [ ]:
#list() method - we can create empty list # convert to list from string , tuple and list

l = []
s = "NTT Data"

l3= list(s) # we can pass any iterable ->  string, list, tuple
print(l3)

['N', 'T', 'T', ' ', 'D', 'a', 't', 'a']

In [ ]:
#list() method

l1 = list()
print(l1)
print (type(l1))

[]
<class 'list'>

In [ ]:
s = "NTT DATA"
l2 = list(s)
print(l2)

['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']

In [ ]:
l3 = list(range(1,10))
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# l1 = [2,3,4,4,4,2,6,7,8,6]
#output 2 3 4 6 7 8
#output 2 2 3 2 1 1
#sol:

l1 = [1,1,1,2,2,3,3,3,3,3,3,4,4,5,6]
uele = []
count = []

for i in l1:
  if i not in uele:
    uele.append(i)
    count.append(1)
  else:
    index = uele.index(i)
    count[index] = count[index] + 1

print(uele)
print(count)

[1, 2, 3, 4, 5, 6]
[3, 2, 6, 2, 1, 1]

In [ ]:
l1 = [2,3,4,4,4,2,6,7,8,6]
l2 = []
l3 = []
for num in l1:
  if num not in l2:
    l2.append(num)
    l3.append(l1.count(num))

print(l2)
print(l3)

[2, 3, 4, 6, 7, 8]
[2, 1, 3, 2, 1, 1]

In [ ]:
#print the occurance of the elements
l1 = [1,1,1,2,2,3,3,3,3,3,3,4,4,5,6]
l2 = []
l3 = []
for num in l1:
  if num not in l2:
    l2.append(num)
    l3.append(l1.count(num))

print(l2)
print(l3)

[1, 2, 3, 4, 5, 6]
[3, 2, 6, 2, 1, 1]

In [ ]:
#print the occurance of the elements
l1 = [1,1,1,2,2,3,3,3,3,3,3,4,4,5,6]
uniqList = []
countList = []

for i in l1:
  if i not in uniqList:
    uniqList.append(i)
    countList.append(1)
  elif i in uniqList:
    index = uniqList.index(i)
    count = countList[index] + 1
    del countList[index]
    countList.insert(index, count)

print(uniqList)
print(countList)

[1, 2, 3, 4, 5, 6]
[3, 2, 6, 2, 1, 1]

In [ ]:
l1 = [2,3,3,4,4,4,2,6,7,8,6]
uniqList = []
countList = []

for i in l1:
  if i not in uniqList:
    uniqList.append(i)
    countList.append(1)
  elif i in uniqList:
    index = uniqList.index(i)
    count = countList[index] + 1
    del countList[index]
    countList.insert(index, count)

print(uniqList)
print(countList)

[2, 3, 4, 6, 7, 8]
[2, 2, 3, 2, 1, 1]

In [ ]:
# tuples

t1 = (1,2,3,4,3.1,[4,5,6],(7,7,8))
print(t1)
print(type(t1))

(1, 2, 3, 4, 3.1, [4, 5, 6], (7, 7, 8))
<class 'tuple'>

In [ ]:
print("hi")

hi

In [ ]:
#tuple() method

s= "Ntt Data"
t2 = tuple(s) # we can't add remove anything
print(t2)

l1 = [10,20,30]

t3 = tuple(l1) # list converted to tuple
print(t3)

l5 = list(t3) # tuple converted to list
print(l5)

l5.append(40)
print(l5)

('N', 't', 't', ' ', 'D', 'a', 't', 'a')
(10, 20, 30)
[10, 20, 30]
[10, 20, 30, 40]

In [ ]:
#tuple with a single element

t5 = (6) #single it will treat as integer, since its a expression same like (2+4), (3-2), (6)
print(t5)
print(type(t5))

6
<class 'int'>

In [ ]:
#tuple with a single element

t5 = (6,) #so need to use , after the single digit
print(t5)
print(type(t5))

(6,)
<class 'tuple'>

In [ ]:
#tuple concatenation
t1 = (10,20,30)
t2 = (40,50,60)
t3 = t1+t2
print(t3)
print(type(t3))

(10, 20, 30, 40, 50, 60)
<class 'tuple'>

In [ ]:
t1 = (10,20,30)

t2 = t1*3
print(t2)
print(type(t2))

(10, 20, 30, 10, 20, 30, 10, 20, 30)
<class 'tuple'>

In [ ]:
#iterating tuple
t1 = (10,20,30)

for i in t1:
  print(i)

10
20
30

In [ ]:
t1 = (1,2,3,4,3.1,[4,5,6],(7,7,8))
print(t1[4:])

(3.1, [4, 5, 6], (7, 7, 8))

In [ ]:
# Dictionary

d1 = {"name":"Ram","age":30, "city":"Blr"}
print(d1)
print(type(d1))

print(d1.keys()) # it will fetch all the keys from dictionary
print(d1.values()) # it will fetch values from dictionary

print(d1.items()) # returns items

{'name': 'Ram', 'age': 30, 'city': 'Blr'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['Ram', 30, 'Blr'])
dict_items([('name', 'Ram'), ('age', 30), ('city', 'Blr')])