<a href="https://colab.research.google.com/github/RobertsonGit0Hub/Python/blob/main/Basic_Python%20-%20Day%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello mm")

hello world

In [ ]:
# Day 3
#creating s simple list
l=[10,20.3,"Ntt",3+4j]
print (l)
print(type(l))
print (l[-2])

[10, 20.3, 'Ntt', (3+4j)]
<class 'list'>
Ntt

In [ ]:
l={10:"Arjith",20:"Muni",30:"Rovbert"}
print (type(l))

<class 'dict'>

In [ ]:
l={100:"Arjith",20:"Muni",333:"Rober"}
print (l[333])

Rober

In [ ]:
s = {12,13,14,14,"Hello","Hello"}

print(s[0])

TypeError: 'set' object is not subscriptable

In [ ]:
s = {12, 13, 14, 14, "Hello", "Hello"}

for element in s:
    print(element)

12
13
14
Hello

In [ ]:
s = {12, 13, 14, "Hello", "hello"}

s_list = list(s)
print(s_list[4])  # Access the first element of the list

14

In [ ]:
#isinstance
a=10
print (isinstance(a,int))

True

In [ ]:
#variable annotations
name: str = "NTT"
print(name)
print(__annotations__['name'])

NTT
<class 'str'>

In [ ]:
name: str = "NTT"
print(name)
print(type(name))
print(__annotations__['name'])

In [ ]:
name: int = 10
print(name)
print(__annotations__['name'])

10
<class 'int'>

In [ ]:
aaa=10
print(aaa)
print(type(aaa))

print(__annotations__['aaa'])

10
<class 'int'>

NameError: name '__annotations__' is not defined

In [ ]:
# variable annotation

aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
#tuple - unable to chnage the content at run time t = (1,2,3..) , but list we can change it L = [1,2,3,4,...]

In [ ]:
#dictionary  d = {a:1, b:2, c:3} - a, b, c are index and 1 2 3 are value

In [ ]:
print(18//4)

4

In [ ]:
print(18%4)

2

In [ ]:
print((18.0//4))

4.0

In [ ]:
print("""  working on multiline
  sample """)

  working on multiline
  sample

In [ ]:
#1-1 = 0 , 2-1 = 1, 3-1 = 2 (last param)
Name = "Hello world"
print(Name[0])
print(Name[-8])

print(Name[0:6:3])

H
l
Hl

In [ ]:
#slicing (its like substring)
Name = "Bangalore"


print(Name[ :5:1])
print(Name[2: :1])
print(Name[0:6: ])
print(Name[ : : ])
print(Name[2:7:1])
print(Name[::3])

# s[Start:Stop:Step]
# if not given for start it will consider as 0, 2 paramater will take as entire , if 3rd is emty it will take 0

Banga
ngalore
Bangal
Bangalore
ngalo
Bgo

In [ ]:
#Negative Slicing

Name = "Bangalore"
print(Name[-1:-6:-1])
print(Name[-2::-1])
print(Name[::-1])
print(Name[-8:-1:-1])
print(Name[3:0:-1])
print(Name[7:1:2])  # result would be blank first would be small and second would be bigger
print(Name[-9:-4:2])
print(Name[-9:7:1])
print(Name[1:4:]) # default step size is positive 1
print(Name[::])

erola
rolagnaB
erolagnaB

gna

Bna
Bangalo
ang
Bangalore

In [ ]:
Name = "Code yug"
print(Name[-1:-4:-1])
print(Name[-1:-5:-1])
print(Name[-2:-6:2])
print(Name[-1::-1])
print(Name[-3:-11])
print(Name[-1:-1:-1])

guy
guy

guy edoC

In [ ]:
String = "Hello, world!"
print(String[:5])
print(String[-6:-1])
print(String[-3:])
print(String[-5:2:-2])

Hello
world
ld!
o o

In [ ]:
String = "Python is fun!"
print(String[::2][::-1])

nfs otP

In [ ]:
String = "Python is fun"

print(String[0:5][::-1])

ohtyP

In [ ]:
string = "Programming"
print (string[3:len(string)-4])

gram

In [ ]:
#Decision making statements
#Simple If statement

if 10>15:
  print("Start of if") #intentation space (before print)
  print("10 is greater")
  print("End of if")

print("End of program")

End of program

In [ ]:
#if else


if 10>15:
  print("Start of if") #intentation space (before print)
  print("10 is greater")
  print("End of if")
else:
  print("End of program")

End of program

In [ ]:
# input function
a = input("Enter a value") # input function returns all the values in string format
print(a)
print(type(a))

Enter a value10
10
<class 'str'>

In [ ]:
# input function - type cast
a = int(input("Enter a value")) # input function returns all the values in string format
print(a)
print(type(a))

Enter a value10
10
<class 'int'>

In [ ]:
# input function - type cast
a = float(input("Enter a value")) # input function returns all the values in string format
print(a)
print(type(a))

Enter a value10.34
10.34
<class 'float'>

In [ ]:
# input function
a = int(input("Enter a value")) # input function returns all the values in string format
print(a)
print(type(a))

Enter a value10
10
<class 'int'>

In [ ]:
#if else statement
a = int(input("Enter a value"))
b = int(input("Enter b value"))

if(a>b):
  print("a is greater")
  print("if block")
else:
   print("b is greater")
   print("else block")

Enter a value10
Enter b value20
b is greater
else block

In [ ]:
# if else ladder
s = input("enter a color")

if s=="red":
  print("stop")
elif s=="yellow":
  print("ready")
elif s=="green":
  print("go")
else:
  print("invalid")

enter a colorred
stop

In [ ]:
#palindrome function
a=input("enter a string:")
b=a[::-1]
if a==b:
  print("palindrome")
else:
  print("not palindrome")

enter a string:malayalam
palindrome

In [ ]:
s=input("Enter a String:");
rev=s[len(s)::-1];
print(rev)

if(s==rev):
    print("Palindrome");
else:
    print("Not a palindrome");

Enter a String:malayalam
malayalam
Palindrome

In [ ]:
#program to check the polindrome
text = input("enter a string")
text = text.lower()

revtext = text[::-1]

if text == revtext:
  print("palindrome")
else:
  print("not palindrome")

enter a stringmalayalam
palindrome

In [ ]:
#while loop

i =10

while i<15 :
  print(i)
  i = i+1
print("end of while")

10
11
12
13
14
end of while

In [ ]:
#multiplication table

num = int(input("Enter a number : "))
i = 1
while i<=10:
    print(i*num)
    i = i+1

Enter a number : 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#multiplication table

i=int(input("Enter a Number:"))
a=1
while a<=10 :
  b=i*a
  print(i,"x",a,"=",b)
  a=a+1

Enter a Number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#multiplication table

num = int(input("Enter a number : "))
i = 1
while i<=10:
    print(num, "*" , i , "=", i*num)
    i = i+1

Enter a number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# for loop

s="john"

for i in s:
  print(i)

j
o
h
n

In [ ]:
for i in [10,20,30,40]:
  print(i)

10
20
30
40

In [ ]:
for i in (10,20,30,40):
  print(i)

10
20
30
40

In [ ]:
for i in (10,20,30,40):
  print(i*30)

300
600
900
1200

In [ ]:
for i in (10,20,30,40):
  print(i)
  print(type(i))

10
<class 'int'>
20
<class 'int'>
30
<class 'int'>
40
<class 'int'>

In [ ]:
for i in "2025john":
  print(i)
  print(type(i))

2
<class 'str'>
0
<class 'str'>
2
<class 'str'>
5
<class 'str'>
j
<class 'str'>
o
<class 'str'>
h
<class 'str'>
n
<class 'str'>

In [ ]:
for i in [10,"john",20.3]:
  print(i)
  print(type(i))

10
<class 'int'>
john
<class 'str'>
20.3
<class 'float'>